.message{
    background: var(--color-card);
    margin: 20px auto;
    border-radius: 1rem;
    padding: 20px;
}

.message-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.message-search{
    background: var(--color-bg);
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 1rem;
    padding: .7rem;
}

