.chat-box{
    background: var(--color-card);
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: .5rem;
    overflow: hidden;
}

