.comments{
    width: 100%;
    background: var(--color-bg);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}
.comments .write-box{
    width: 100%;
    
}